<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <sidebar-search></sidebar-search>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.ranking"><i class="fa fa-diamond fa-fw"></i> Ranking</a>
            </li>
            <li ng-class="{active: collapseVar==5}">{{dropDown}}
                <a href="" ng-click="check(5)"><i class="fa fa-users fa-fw"></i> Jogadores
                   <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=5">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.cadastro-jogador">
                           <i class="fa fa-user-plus fa-fw"></i> Cadastrar
                        </a>
                    </li>
                </ul>
            </li>
            <li ng-class="{active: collapseVar==6}">{{dropDown}}
                <a href="" ng-click="check(6)"><i class="fa fa-cubes fa-fw"></i> Partidas
                   <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=6">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.cadastro-partida">
                           <i class="fa fa-plus-square fa-fw"></i> Cadastrar
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.consulta-partidas">
                           <i class="fa fa-search" aria-hidden="true"></i> Consultar
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
